# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024 Texas Instruments Incorporated
#
# Texas Instruments AM62Lx Starter kit (SK)
# Link: https://www.ti.com/lit/ug/sprujb4/sprujb4.pdf
#

# the AM62L3 SK has an xds110 onboard.
source [find interface/xds110.cfg]

transport select jtag

# default JTAG configuration has only SRST and no TRST
reset_config srst_only srst_push_pull

# delay after SRST goes inactive
adapter srst delay 20

if { ![info exists SOC] } {
	set SOC am62l
}

source [find target/ti_k3.cfg]

adapter speed 2500
